<!--<style>
    [data-region="editables-table"] nav {display: none}
</style>-->
<div class="local_educaaragon_editables" data-region="educaaragon-editables">
    <h3>{{#str}} editables, local_educaaragon {{/str}}</h3>
    <p>{{#str}} editables_help, local_educaaragon {{/str}}</p>
    <br><br>
    <div data-region="editables-table">
        {{{editablestable}}}
    </div>
</div>
