<div class="local_educaaragon_registereditions" data-region="educaaragon-registereditions">
    <h3>{{#str}} registereditions, local_educaaragon {{/str}}</h3>
    <!--<p>{{#str}} editables_help, local_educaaragon {{/str}}</p>-->
    <br><br>
    <div data-region="editables-table">
        {{{registereditions}}}
    </div>
</div>
